body{
    background-color: var(--preto);
}

.campo{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.cube{
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: animate 4s linear infinite;
  }
  @keyframes animate{
    0%{
      transform: rotateX(-30deg) rotateY(0deg);
    }
    100%{
      transform: rotateX(-30deg) rotateY(360deg);
    }
  }
  .cube div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
  }
  .cube div span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#050505, #ec0000);
    transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
  }
  
  .top{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: #222;
    transform: rotateX(90deg) translateZ(150px);
  }
  .top::before
  {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: rgb(255, 0, 0);
    transform: translateZ(-380px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(255, 0, 0, 0.2),
    0 0 200px rgba(255, 0, 0, 0.4),
    0 0 300px rgba(255, 0, 0, 0.6),
    0 0 400px rgba(255, 0, 0, 0.8),
    0 0 500px rgb(255, 0, 0),
  }

  .titul{
    position: absolute;
    top: 2%;
    left: 4%;
    width: 20%;
    height: 3rem;
    background: linear-gradient(135deg,transparent,#000,#ff0000,#ff0000,#000,transparent);
    border-radius: 15px;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    text-align: center;
}