body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../images/PdN_ia.png);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    overflow-x: hidden;
}

.entrada{
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 8rem 0;
}
.entrada img{
    display: block;
    width: 100%;
}
.entrada p{
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  white-space: nowrap;
  box-sizing: border-box;
  animation: move 12s linear infinite;
  z-index: 50;
  font-family: "Great Vibes", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 35px;
}

@keyframes move {
  from { transform: translateX(100%); }
  to { transform: translateX(-150%); }
}

.icones{
    position: relative;
    display: inline-block;
    width: 90%;
    margin: 8rem 0rem;
    
}

.arruma{
    position: absolute;
    top: 0;  
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    width: 100%;
    height: 100%;
}

.icones img{
    display: block;
    width: 100%;
}

.iconlink{
    width: 90%;
    height: 3rem;
    border-radius: 20px;
    background: linear-gradient(90deg,#ffc400,#ec7e00,#ffc400);
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.btn1,.btn2,.btn3,.btn4,.btn5,.btn6{
    border: none;
    width: 20%;
    height: 25px;
    cursor: pointer;
    border-radius: 15px;
}
.btn1{
    background: linear-gradient(50deg,#000,#ff0000,#000,#00ff00,#000,#0000ff,#000);
    color: #fff;
}
.btn1:hover{
    background: #000;
    transition: 0.8s;
}

.btn2{
    background: #46eb46;
    transition: 0.8s;
}
.btn2:hover{
    background: #27ec27;
    box-shadow: 1px 1px 25px #30fd30;
    transition: 0.8s;
}

.btn3{
    background: #fc2727;
    transition: 0.8s;
}
.btn3:hover{
    transition: 0.8s;
    background: #ff5050;
    box-shadow: 2px 2px 20px red;
}

.btn4{
    padding: 3px;
    background: linear-gradient(50deg,#000,#ff0000,#000,#ff0000,#000,#ff0000,#000);
}
.btn4:hover{
    transition: 0.8s;
    background: #ff0000;
}

.btn5{
    color: red;
    padding: 4px;
    background: #000000;
    cursor: none;
}

.btn6{
    padding: 4px;
    background: #000000;
    color: red;
    cursor: none;
}
