:root{
    --preto: #000;
    --branco: #fff;
    --cinza: #919191;
    --dourado: #ffb006;
    --marelo: #ffd414;
    --marom: #643500;
    --dark-marom: #361d00;
}

*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

header{
    width: 100%;
    height: 8rem;
    background: url(../images/menu.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;

    margin-bottom: 3rem;
}

header a{
    text-decoration: none;
    color: #000;
}

.titulo{
    position: absolute;
    top: 2%;
    left: 4%;
    width: 20%;
    height: 3rem;
    background: linear-gradient(135deg,transparent,var(--dourado),var(--marelo),var(--marelo),var(--dourado),transparent);
    border-radius: 15px;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    text-align: center;
}

.menu{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 26px;
    border: none;
    border-radius: 15px;
    background: var(--dark-marom);
    color:#ffc480;
    padding: 8px 12px;
    cursor: pointer;
    z-index: 1001;
    transition: background 0.3s;
}
.menu:hover{
    background: var(--marom);
}

.sidebar{
    position: absolute;
    top: 5px;
    right: -80%;
    width: 40%;
    height: 5rem;
    padding-right: 1rem;
    background-color: var(--marom);
    
    transition: right 0.3s ease;
    z-index: 51;
    border-radius: 20px 0 0 20px;
}

.sidebar ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sidebar li{
    list-style: none;
    transition: background 0.25s;
    padding: 15px 20px;
}

.sidebar a{
    padding: 5px 10px;
    border-radius: 10px;
    background: #a15906;
    border: 2px solid #000;
    color: white;
    text-decoration: none;
    transition: 1s;
}
.sidebar a:hover{
    background: #ff8800;
    transition: 0.5s;
}
.sidebar.show{
    right: 0;
}

footer{
    width: 100%;
    background:#808080;
    text-align: center;
    padding: 4px 0px 2px 0px;
}