:root{
    --cor: blue;
    --parte: darkblue;
} 

body{
    background: #000;
}

.flex{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.acao{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    min-height: 100vh;
    background: #080808;
    border-radius: 20px;
    border: 3px solid white;
}
.bowl{
    position: relative;
    width: 300px;
    height: 300px;
    background: rgba(30, 128, 255, 0.1);
    border-radius: 50%;
    border: 8px solid transparent;
    transform-origin: bottom center;
    animation: animate 5s linear infinite;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(15deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(-15deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.bowl::before{
    content: '';
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    height: 30px;
    border: 15px solid #999999;
    border-radius: 50%;
    box-shadow: 0 10px #222;
}
.bowl::after{
    content: '';
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    width: 150px;
    height: 80px;
    background: rgba(250, 217, 109, 0.05);
}

.liquid{
    position: absolute;
    top: 50%;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background: var(--cor);
     transition: background 0.4s;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    filter: drop-shadow(0 0 80px #41a7fb);
    transform-origin: top center;
    animation: animateLiquid 5s linear infinite;
}
@keyframes animateLiquid{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(-20deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(20deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.liquid::before{
    content: '';
    position: absolute;
    top: -10px;
    width: 100%;
    height: 20px;
    background: var(--parte);
    transition: background 0.4s;
    border-radius: 50%;
    filter: drop-shadow(0 0 80px #41fb8e);
}



.dados{
    width: 40%;
    border: 2px solid var(--preto);
    border-radius: 15px;
    background: var(--marelo);
    padding: 5px;
}
.dados h2{
    text-align: center;
    margin: 0.5rem 0 1rem 0;
    font-family: "Great Vibes", cursive;
    font-weight: 800;
    font-style: normal;
}

.opcoes{
    margin: 2rem;
    background: var(--dourado);
    padding: 1rem;
    border-radius: 20px;
    border: 2px solid var(--dark-marom);
}
.opcoes input{
    margin-right: 1rem;
}